{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if locale != "en" %}{% assign locale = "ru" %}{% endif %}

{% case locale %}
{% when "ru" %}
{% assign root = '/' %}
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="/">Глория</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="/news/">Новости</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">О студии</a>
                <ul class="dropdown">
                    <li><a href="/about/about/">О нас</a></li>
                    <li><a href="/about/teachers/">Преподаватели</a></li>
                    <li><a href="/about/newbies/">Информация для новичков</a></li>
                    <li><a href="/about/faces/">Глория в лицах</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Наши достижения</a>
                <ul class="dropdown">
                    <li><a href="/achievements/photo/">Фото</a></li>
                    <li><a href="/achievements/video/">Видео</a></li>
                    <li><a href="/achievements/results/">Результаты соревнований</a></li>
                    <li><a href="/achievements/shows/">Танцевальные программы</a></li>
                    <li><a href="/achievements/press/">Пресса о нас</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Глория в WIDA</a>
                <ul class="dropdown">
                    <li><a href="/wida/minsk-open-feis/">Minsk Open Feis</a></li>
                    <li><a href="/wida/rules/">WIDA rules</a></li>
                    <li><a href="/wida/beginners-schemas/">Схемы бегинерских танцев</a></li>
                    <li><a href="/wida/ceili-schemas/">Схемы кейли</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Полезное о танцах</a>
                <ul class="dropdown">
                    <li><a href="/useful/articles/">Статьи</a></li>
                    <li><a href="/useful/video/">Полезное видео</a></li>
                    <li><a href="/useful/music">Полезная музыка</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Контакты</a>
                <ul class="dropdown">
                    <li><a href="/contacts/contact/">Как нас найти</a></li>
                    <li><a href="/contacts/perform/">Пригласить на выступление</a></li>
                    <li><a href="/contacts/workshop/">Пригласить с мастер-классом</a></li>
                    <li><a href="/contacts/friends/">Наши друзья</a></li>
                    <li><a href="/contacts/guestbook/">Гостевая книга</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>

        <!-- Languages selector -->
        <ul class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown"><a href="#">Русский/Russian</a>

                <ul class="dropdown">
                    <li><a href="/en/">English</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
{% when "en" %}
{% assign root = '/en/' %}
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="/en/">Gloria</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
            <li><a href="/en/news/">News</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">About studio</a>
                <ul class="dropdown">
                    <li><a href="/en/about/about">About us</a></li>
                    <li><a href="/en/about/teachers/">Teachers</a></li>
                    <li><a href="/en/about/faces/">Gloria faces</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Achievements</a>
                <ul class="dropdown">
                    <li><a href="/en/achievements/photo/">Fotos</a></li>
                    <li><a href="/en/achievements/video/">Videos</a></li>
                    <li><a href="/en/achievements/results/">Results</a></li>
                    <li><a href="/en/achievements/shows/">Dance shows</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Gloria in WIDA</a>
                <ul class="dropdown">
                    <li><a href="/en/wida/minsk-open-feis/">Minsk Open Feis</a></li>
                    <li><a href="/en/wida/rules/">WIDA rules</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Contacts</a>
                <ul class="dropdown">
                    <li><a href="/en/contacts/contact/">Contact us</a></li>
                    <li><a href="/en/contacts/perform/">Invite us to perform</a></li>
                    <li><a href="/en/contacts/workshop/">Invite us with workshop</a></li>
                    <li><a href="/en/contacts/friends/">Our friends</a></li>
                    <li><a href="/en/contacts/guestbook/">Guestbook</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>

        <!-- Languages selector -->
        <ul class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown"><a href="#">English</a>

                <ul class="dropdown">
                    <li><a href="/">Русский</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
{% endcase %}
