{% include header.html %}
<div class="row main-container">
    <div class="small-12 columns">

        {{ content }}

        <h1>{{ site.locales[locale].latest_news }}</h1>

        {% assign count = 0 %}
        {% for post in site.categories[locale] %}
            {% capture difference %}{{ count | minus:2 }}{% endcapture %}
            {% if difference contains '-' %}
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <p>{{ post.content }}</p>
                {% capture count %}{{ count | plus:1 }}{% endcapture %}
            {% endif %}
        {% endfor %}
        
        <p><a href="{{ root }}news/">{{ site.locales[locale].all_news }}</a></p>
    </div>
</div>

{% include footer.html %}
