{% include header.html %}
<div class="row main-container">
    <div class="small-12 columns">
        <ul class="breadcrumbs">
            <li><a href="{{ root }}">{{ site.locales[locale].gloria }}</a></li>
            <li class="current">{{ site.locales[locale].news }}</li>
        </ul>

        <h1>{{ site.locales[locale].news }}</h1>

        {% for post in site.categories[locale] %}
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p>{{ post.excerpt }}</p>
        {% endfor %}
    </div>
</div>

{% include footer.html %}
